# TTS
--extra-index-url https://download.pytorch.org/whl/cu117 torch==2.0.1+cu117 torchvision==0.15.2+cu117 torchaudio==2.0.2+cu117
regex
## Train MFA + TF
tensorflow
numpy
tqdm
librosa
numba
pgvector
hdbscan
git+https://github.com/MontrealCorpusTools/Montreal-Forced-Aligner.git
## Train duration
transformers==4.28.1
torch_ema